
*.tlog
*.obj
*.ipch
Src/.vs/ppo/v16/.suo
Src/.vs/ppo/v16/Preview/Browse.VC.db
Src/.vs/ppo/v16/Preview/Browse.VC.opendb
Src/debug/moc_clientupdate.cpp
Src/debug/moc_imagewindow1.cpp
Src/debug/moc_mainwindow.cpp
Src/debug/moc_predefs.h
Src/debug/moc_predefs.h.cbt
Src/debug/ppo.exe
Src/debug/ppo.ilk
Src/debug/ppo.pdb
Src/debug/qrc_images.cpp
Src/downloadedfile.html
Src/release/moc_predefs.h.cbt
Src/ui_clientupdate.h
Src/ui_imagewindow1.h
Src/ui_mainwindow.h
Src/x64/Debug/ppo.log
Src/x64/Debug/qt_work.log
Src/x64/Debug/vc142.pdb
