
*.tlog
*.obj
*.ipch
Src/.vs/ppo/v16/.suo
Src/.vs/ppo/v16/Preview/Browse.VC.db
Src/.vs/ppo/v16/Preview/Browse.VC.opendb
Src/debug/moc_clientupdate.cpp
Src/debug/moc_imagewindow1.cpp
Src/debug/moc_mainwindow.cpp
Src/debug/moc_predefs.h
Src/debug/moc_predefs.h.cbt
Src/debug/ppo.exe
Src/debug/ppo.ilk
Src/debug/ppo.pdb
Src/debug/qrc_images.cpp
Src/downloadedfile.html
Src/release/moc_predefs.h.cbt
Src/ui_clientupdate.h
Src/ui_imagewindow1.h
Src/ui_mainwindow.h
Src/x64/Debug/ppo.log
Src/x64/Debug/qt_work.log
Src/x64/Debug/vc142.pdb
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ui_mainwindow.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ui_imagewindow1.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ui_clientupdate.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/qrc_images.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/qrc_images.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ppo.app/Contents/Resources/empty.lproj
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ppo.app/Contents/PkgInfo
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ppo.app/Contents/MacOS/ppo
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ppo.app/Contents/MacOS/info.json
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/ppo.app/Contents/Info.plist
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/moc_predefs.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/moc_mainwindow.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/moc_imagewindow1.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/moc_imagewindow1.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/moc_clientupdate.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/moc_clientupdate.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/Makefile
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/mainwindow.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/main.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/imagewindow1.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/clientupdate.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Debug/.qmake.stash
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ui_mainwindow.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ui_imagewindow1.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ui_clientupdate.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/qrc_images.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/qrc_images.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ppo.app/Contents/Resources/empty.lproj
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ppo.app/Contents/PkgInfo
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ppo.app/Contents/MacOS/ppo
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ppo.app/Contents/MacOS/info.json
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/ppo.app/Contents/Info.plist
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/moc_predefs.h
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/moc_mainwindow.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/moc_mainwindow.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/moc_imagewindow1.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/moc_imagewindow1.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/moc_clientupdate.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/moc_clientupdate.cpp
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Makefile
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/main.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/imagewindow1.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/clientupdate.o
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Icon
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/Resources/empty.lproj
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/PkgInfo
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/MacOS/ppo.app/Contents/Resources/empty.lproj
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/MacOS/ppo.app/Contents/PkgInfo
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/MacOS/ppo.app/Contents/MacOS/ppo
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/MacOS/ppo.app/Contents/MacOS/info.json
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/MacOS/ppo.app/Contents/Info.plist
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/MacOS/Client
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Contents/Info.plist
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/.qmake.stash
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/.DS_Store
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Icon
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Icon
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/Client.app/Icon
build-ppo-Clone_of_Desktop_Qt_5_12_3_clang_64bit-Release/mainwindow.o
